<main>
    <script src="scripts.js" defer></script>

    <div id="poke-search-wrapper">
        <div class="poke-buffer-top"></div>
        <div class="pokeball-container">
            <div class="pokeball-anim">
                <div class="pokeball-anim-button"> </div>
            </div>
        </div>
        <div class="poke-search">
            <form action="">
                <input class="poke-search-bar" type="text" placeholder="Pokemon search..."/>
            </form>
            <div class="selection"></div>
        </div>
        <div class="poke-buffer-bottom"></div>
    </div>
</main>