<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <div id="landing-container">
            <%- include('partials/header') %> 

            <%- include('partials/main') %> 

            <%- include('partials/footer') %> 
        </div>
    </body>
</html>