<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %> 

    <body class="type-<%= type %>">
        <img src="<%= data.img %>" style="mix-blend-mode: multiply;">
        <%- include('partials/footer')  %> 

    </body>
</html>