/* background colors based on type assigned */
.type-grass {
    background-color: rgb(216, 252, 204, 0.85);
}

.type-fire {
    background-color: rgb(255, 202, 142, 0.85);
}

.type-water {
    background-color: rgb(188, 206, 255, 0.85);
}

.type-normal {
    background-color: rgb(255, 241, 221, 0.85);
}

.type-ground {
    background-color: rgb(176, 150, 123, 0.85);
}

.type-psychic {
    background-color: rgb(246, 199, 255, 0.85);
}

.type-steel {
    background-color: rgb(177, 177, 177, 0.85);
}

.type-ghost {
    background-color: rgb(210, 147, 255, 0.85);
}

.type-poison {
    background-color: rgb(182, 87, 255, 0.85);
}

.type-flying {
    background-color: rgb(153, 142, 255, 0.85);
}

.type-bug {
    background-color: rgb(194, 255, 161, 0.85);
}

.type-electric {
    background-color: rgb(255, 243, 152, 0.85);
}

.type-fighting {
    background-color: rgb(254, 162, 139, 0.85);
}

.type-rock {
    background-color: rgb(174, 147, 116, 0.85);
}

.type-ice {
    background-color: rgb(164, 251, 251, 0.85);
}

.type-dragon {
    background-color: rgb(142, 132, 249, 0.85);
}

/* animated pokeball */
*, *::before, *::after {
    box-sizing: border-box;
}

.pokeball-anim {
    position: relative;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 50%;
    animation: fall 2s ease-in-out, shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3;
    overflow: hidden;
    background-color: #eee;
}

.pokeball-anim-button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    animation: blink 0.5s alternate 7;
}

.pokeball-anim::before, .pokeball-anim::after {
    content: '';
    position: absolute;
}

.pokeball-anim::before {
    background-color: red;
    width: 100%;
    height: 50%;
}

.pokeball-anim::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background-color: black;
}

@keyframes blink {
    from {
        background-color: #eee;
    } to {
        background-color: #e74c3c;
    }
}

@keyframes fall {
    0% {
        top: -200px;
    }
    60% {
        top: 0;
    }
    80% {
        top: -20px;
    }
    100% {
        top: 0;
    }
}

@keyframes shake {
    0% { 
        transform: translate(0, 0) rotate(0); 
    }
    20% { 
        transform: translate(-10px, 0) rotate(-20deg); 
    }
    30% { 
        transform: translate(10px, 0) rotate(20deg); 
    }
    50% { 
        transform: translate(-10px, 0) rotate(-10deg); 
    }
    60% { 
        transform: translate(10px, 0) rotate(10deg); 
    }
    100% { 
        transform: translate(0, 0) rotate(0); 
    }
}

/* context functions */
.poke-search-bar {
    height: 50px;
    width: 350px;
    font-weight: bold;
    padding: 10px;
    border: none;
    outline: none;
    transition: all 1s ease;
    border-radius: 10px;
    background-color: rgba(232, 159, 159, 0.85);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    text-align: center;
}