* {
    box-sizing: border-box;
}

body {
    background-color: rgb(251, 255, 212);
    background-image: url('/images/background.jpeg');
    background-size: cover;
}

.selection {
    background-color: white;
}

.selection {
    margin: 10px auto;
    background-color: transparent;
}

.poke-list:hover {
    background-color: rgb(255, 151, 151);
    cursor: pointer;
}

.poke-img {
    width: 20px;
    mix-blend-mode: multiply;
}

.poke-list {
    padding: 5px;
    list-style: none;
    text-align: center;
    border-radius: 10px;
}

ul {
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
}

.pokeball-container {
    grid-area: 'pokeball';
}

.poke-search {
    grid-area: 'poke-search';
    height: 100%;
}

#poke-search-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 55% 45%;
    grid-template-areas: 
        'pokeball',
        'poke-search';
    height: 100%;
}

#landing-container > main {
    grid-area: 'main';
}

#landing-container > header {
    grid-area: 'header';
}

#landing-container > footer > {
    grid-area: 'footer';
}

div#landing-container > footer {
    display: flex;
    justify-content: center;
}

#landing-container {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas: 
        'header',
        'main',
        'footer';
    height: 100vh;
}

#show-container > main {
    grid-area: 'main';
}

#show-container > header {
    grid-area: 'header';
}

#show-container > footer > {
    grid-area: 'footer';
}

#show-container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
        'header',
        'main',
        'footer';
    height: 100vh;
}

.pokemon-info-header {
    grid-area: 'pokemon-info-header';
    width: 100%;
    text-align: center;
}

.pokemon-info-img {
    display: flex;
    grid-area: 'pokemon-info-img';
    justify-content: center;
}

.pokemon-info-description {
    grid-area: 'pokemon-info-description';
}

.pokemon-info-typing {
    grid-area: 'pokemon-info-typing';

}

div.info-wrapper {
    margin: auto 35%;
    display: grid;
    grid-template-rows: 20% 45% 20% 15%;
    grid-template-areas: 
        'pokemin-info-header',
        'pokemon-info-img',
        'pokemon-info-description',
        'pokemon-info-typing';
    height: 100%;
    align-items: center;
    justify-items: center;
}


.poke-info-img {
    max-width: 50%;
    align-self: center;
    justify-content: center;
    mix-blend-mode: multiply;
}

div.info-wrapper {
    border-radius: 50px;
}

footer {
    align-items: center;
    text-align: center;
    margin: auto;
}

td {
    padding: 10px;
    width: 150px;
}

span.far-right {
    float: right;
}

.hr-1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p::first-letter {
    text-transform: uppercase;
}

span.poke-span {
    padding: 10px;
}